- content_for :title, 'Home'

.hero-unit
  %h1
    %i.icon-exclamation-sign
    Daycare Helper
  %p
  %blockquote
    %i.icon-quote-left
    The biggest adventure you can ever take is to live the life of your dreams
    %i.icon-quote-right
    %small
      %cite
        Oprah Winfrey
  %p
    %small
      %i.icon-beaker 
      v #{Daycare::Application::VERSION} - experimental
    
.row
  .span3
    %h3 Tell someone who cares
    %address
      %strong Raphael Amadeus
      %br
      %a{href: 'mailto:r.amadeus@daycarepower.com'}
        %i.icon-envelope
        r.amadeus@daycarepower.com
  .span9
    %h2 Design Rules
    %p
      %ul
        %li greys only. No blacks, no whites.
        %li no round borders unless bootstrap does it
        %li only sans serif font
    